{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %} {{ title }} {% endblock %}




{% block body %}
<div class="col d-lg-flex justify-content-center">
    <h4>{{ title }}</h4>
</div>

<div class="container m-3 p-5 col-md-10 bg-secondary text-light">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">{{ form_row(form.nom,{'attr':{'placeholder' : 'Votre Nom'},'label':'Nom'})}}</div>
        <div class="col-md-6">{{ form_row(form.prenom,{'attr':{'placeholder' : 'Votre Prénom'},'label':'Prénom'})}}
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">{{ form_row(form.telephone,{'attr':{'placeholder' : '06-11-11-11-11','Maxlength':10}})}}</div>
        <div class="col-md-4">{{ form_row(form.ville) }}</div>
        <div class="col-md-4">{{ form_row(form.organisation) }}</div>

    </div>



    <div class="row">
        <div class="col-md-10">
            {{ form_row(form.imgprofil)}}
        </div>
        <div class="col-md-2">
            <img src="{% if user is defined and user.fileprofil %}{{ vich_uploader_asset(user , 'imgprofil') | imagine_filter('my_thumb3') }}{% else %}/assets/images/no-img-60.jpg{% endif %}"
                style="width:100%">
        </div>
    </div>

    <div class="row py-3 ">
        <button class="btn btn-primary mx-auto col-lg-3 m-3">Enregistrer</button>
        <div class="col-lg-5 m-3">
            <a href="{{ path('annonces') }}" class="btn btn-primary mx-auto">Retour aux Annonces</a>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock body %}

{% block javascripts %}

<script>

    var champs = document.getElementsByClassName("form-control");
    for (i = 0; i < champs.length; i++) {
        champs[i].setAttribute("style", "padding: .2em;")
    }
    document.getElementById("form_imgprofil").addEventListener("change", function () {
        this.nextElementSibling.innerHTML = this.value.replace('C:\\fakepath\\', '');
    })
</script>

{% endblock javascripts %}