{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %} {{ title }} {% endblock %}




{% block body %}
<h4>Nouvelle Annonce</h4>
<div class="container m-3 p-5 col-md-10 bg-secondary text-light">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-4">{{ form_row(form.title,{'attr':{'placeholder' : 'Titre de l\'annonce'}})}}</div>
        <div class="col-md-4">{{ form_row(form.type) }}</div>
        <div class="col-md-4">{{ form_row(form.categorie) }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">{{ form_row(form.description) }}</div>

    </div>

    <div class="row">
        <div class="col-md-4">{{ form_row(form.ville) }}</div>
        <div class="col-md-4">{{ form_row(form.contact) }}</div>
        <div class="col-md-4">{{ form_row(form.price) }}</div>
    </div>
    <div class="row">
        <div class="col col-md-3">
            <div class="">{% if not annonce.filename1 %}{{ form_row(form.imageFile1) }}{% else %}{{
                form_row(form.imageFile1, { 'attr': {'disabled': 'true'} }) }}{% endif %}</div>
            <img src="{% if annonce.filename1 %}{{ vich_uploader_asset(annonce , 'imageFile1') | imagine_filter('my_thumb2') }}{% else %}/assets/images/no-img.jpg{% endif %}"
                style="width:100%">
        </div>
        <div class="col col-md-3">
            <div class="">{{ form_row(form.imageFile2) }}</div>
            <img src="{% if annonce.filename2 %}{{ vich_uploader_asset(annonce , 'imageFile2') | imagine_filter('my_thumb2') }}{% else %}/assets/images/no-img.jpg{% endif %}"
                style="width:100%">
        </div>
        <div class="col col-md-3">
            <div class="">{{ form_row(form.imageFile3) }}</div>
            <img src="{% if annonce.filename3 %}{{ vich_uploader_asset(annonce , 'imageFile3') | imagine_filter('my_thumb2') }}{% else %}/assets/images/no-img.jpg{% endif %}"
                style="width:100%">
        </div>
        <div class="col col-md-3">
            <div class="">{{ form_row(form.imageFile4) }}</div>
            <img src="{% if annonce.filename4 %}{{ vich_uploader_asset(annonce , 'imageFile4') | imagine_filter('my_thumb2') }}{% else %}/assets/images/no-img.jpg{% endif %}"
                style="width:100%">
        </div>


    </div>

    <div class="row py-3 ">
        <button class="btn btn-primary mx-auto col-lg-3 m-3">Enregistrer</button>
        <div class="col-lg-5 m-3">
            <a href="{{ path('annonces') }}" class="btn btn-primary mx-auto">Retour aux Annonces</a>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock body %}

{% block javascripts %}

<script>

    var champs = document.getElementsByClassName("form-control");
    for (i = 0; i < champs.length; i++) {
        champs[i].setAttribute("style", "padding: .2em;")
    }
    for (j = 1; j <= 4; j++) {
        document.getElementById("form_imageFile" + j).addEventListener("change", function () {
            this.nextElementSibling.innerHTML = this.value.replace('C:\\fakepath\\', '');

        })
    }
    document.getElementById("form_imageFile1").addEventListener("change", function () {
        // alert("Attention c'est l'image principale de l'annonce elle ne pourrait etre changé plus tard aprés la validation");
    });
</script>

{% endblock javascripts %}