{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block page_header %}
<!--//header-->
<div class="page-header theme-bg-dark py-1 text-center position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h1 class="page-heading single-col-max mx-auto">Annonces Gratuites</h1>
        <div class="page-intro single-col-max mx-auto">Partagez vos annonces sans limitations du nombre sans frais, vous
            n'avez qu'a vous enregistrez</div>
        <div class="main-search pt-3 d-block mx-auto">

            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.category) }}
                </div>
                <div class="col">
                    {{ form_row(form.ville) }}
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary">Rechercher</button>
                </div>


            </div>
            {{ form_end(form) }}

        </div>
    </div>
</div>
<!--//page-header-->

{% endblock page_header %}

{% block body %}
<div class="annoces-container row">
    {% for annonce in annonces %}


    <div class="col-12 col-lg-4 py-3">
        <div class="card shadow-sm">
            {% if annonce.fileName1 %}
            <img class="card-img-top" src="{{ vich_uploader_asset(annonce , 'imageFile1') | imagine_filter('my_thumb1') }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title mb-3">
                    <span class="theme-icon-holder card-icon-holder mr-2">
                        <i class="fas fa-info-circle"></i>
                    </span>
                    <!--//card-icon-holder-->
                    <span class="card-title-text"> {{ annonce.title}} </span>
                </h5>
                <div class="card-text">

                    Section overview goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor.
                </div>
                <div class="price">{{ annonce.price }}</div>
                <a class="card-link-mask" href="{{ path('annonces.show',{'id': annonce.id}) }}"></a>
            </div>
            <!--//card-body-->

        </div>
        <!--//card-->
    </div>
    <!--//col-->
    {% if loop.index is divisible by(5) %}
    <div class="col-12 col-lg-4 py-3">
        <a href="#" class="btn btn-danger">publicité</a>
    </div>
    {% endif %}


    {% endfor %}
</div>
<div class="pagination">
    {{ knp_pagination_render(annonces) }}
</div>
{% endblock %}
{% block javascripts %}
<script>
    var champs = document.getElementsByClassName("form-control");
    for (i = 0; i < champs.length; i++) {
        champs[i].setAttribute("style", "padding: .2em;")
    }
</script>
{% endblock javascripts %}