{% extends 'base.html.twig' %}{% block title %} {{ title }} {% endblock %}

{% block stylesheets %}

<link id="theme-style" rel="stylesheet" href="{{ asset('assets/css/slide.css') }}">

{% endblock %}


{% block body %}
<!-- Container for the image gallery -->
<div class="container-ig row">
    <div class="col-md-6">
        <!-- Full-width images with number text -->
        <div class="mySlides">
            <div class="numbertext">1 / 4</div>
            <img src="/assets/images/empty-img1.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 4</div>
            <img src="/assets/images/empty-img2.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 4</div>
            <img src="/assets/images/empty-img3.jpg" style="width:100%">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 4</div>
            <img src="/assets/images/empty-img4.jpg" style="width:100%">
        </div>



        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <!-- Image text -->
        <div class="caption-container-ig">
            <p id="caption"></p>
        </div>
    </div>

    <!-- Thumbnail images -->
    <div class="col-md-6">
        <div class="rowsl">
            <div class="column">
                <img class="demo cursor" src="{{ asset('/assets/images/empty-img1.jpg') | imagine_filter('my_thumb') }}"
                    style="width:100%" onclick="currentSlide(1)" alt="The Woods">
            </div>
            <div class="column">
                <img class="demo cursor" src="{{ asset('/assets/images/empty-img2.jpg') | imagine_filter('my_thumb') }}"
                    style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
            </div>
            <div class="column">
                <img class="demo cursor" src="{{ asset('/assets/images/empty-img3.jpg') | imagine_filter('my_thumb') }}"
                    style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
            </div>
            <div class="column">
                <img class="demo cursor" src="{{ asset('/assets/images/empty-img4.jpg') | imagine_filter('my_thumb') }}"
                    style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
            </div>

        </div>
    </div>
</div>

<table class="table ">
    <thead>
        <tr>
            <th>Caractéristique</th>
            <th>Valeur</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Titre :</td>
            <td>{{annonce.title}}</td>
        </tr>
        <tr>
            <td>Déscription :</td>
            <td>{{annonce.description}}</td>
        </tr>
        <tr>
            <td>Type :</td>
            <td>{{annonce.type}}</td>
        </tr>
        <tr>
            <td>Catégorie :</td>
            <td>{{annonce.categorie}}</td>
        </tr>
        <tr>
            <td>Ville :</td>
            <td>{{annonce.ville}}</td>
        </tr>
        <tr>
            <td>Contact :</td>
            <td>{{annonce.contact}}</td>
        </tr>
        <tr>
            <td>Price :</td>
            <td>{{annonce.price}}</td>
        </tr>
    </tbody>
</table>






{% endblock %}

{% block javascripts %}

<script src="{{ asset('assets/js/slide.js') }}"></script>

{% endblock javascripts %}