<!DOCTYPE html>
<html>

<head>

    <title>{% block title %}{% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap Documentation Template For Software Developers">
    <meta name="author" content="Ayoub">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->


    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    {% block stylesheets %}

    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark p-2 mx-auto">

        <div class="site-logo">
            <a class="navbar-brand" href="{{ path('home') }}">
                <span class="logo-text mr-1">
                    <img class="logo-icon " src="{{ asset('assets/images/logo.png') }}" alt="logo">
                    &nbsp;Annonces <span class="text-alt">Gratuites</span>
                </span></a>
        </div>
        <div>
            <a href="{{ path('annonces.create') }}" class="btn btn-light d-none d-lg-flex mx-1">Publication &nbsp;&nbsp;
                <i class="fas fa-bullhorn fa-lg"></i></a>
        </div>

        <ul class="navbar-nav ml-auto d-flex justify-content-end pr-2" id="navbar-nav">

            {% if app.user.username is defined and app.user.username in app.request.uri %}
            <li class="nav-item my-auto">
                <a href="{{ path('home') }}" class="btn btn-light d-none d-lg-flex mx-1">
                    Toutes les annonces
                </a>
            </li>
            {% endif %}

            {% if app.user %}

            <li class="dropdown ">

                <a class="btn btn-secondary rounded-circle p-0" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true">
                    {% if app.user.fileprofil %}
                    <img class="rounded-circle" src="{{ vich_uploader_asset(app.user , 'imgprofil') | imagine_filter('my_thumb4') }}" style="width: 100%;">

                    {% else %}
                    <i class="fas fa-user-tie fa-lg"></i>
                    {% endif %}
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">
                        <a href="{{ path('logout') }}" class="btn btn-sm d-none d-lg-flex  rounded">Déconnexion</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{{ path('account.setting',{'id':app.user.id})}}" class="btn btn-sm d-none d-lg-flex  rounded">Parametres</a>
                    </li>

                    <li class="dropdown-item">
                        <a href="{{ path('mes.annonces',{'user': app.user.username}) }}" class="btn  btn-sm d-none d-lg-flex  rounded">Mes annonces</a>
                    </li>

                    <div class="dropdown-divider"></div>

                    <li class="dropdown-item">
                        <a href="" class="btn btn-sm d-none d-lg-flex mx-1 rounded">Contactez-nous</a>
                    </li>

                </ul>
            </li>

            {% else %}
            <li>
                <a href="{{ path('login') }}" class="btn btn-light d-none d-flex justify-content-end mx-1">Connexion</a>
            </li>
            <li>
                <a href="{{ path('register') }}" class="btn btn-light d-none d-lg-flex mx-1">Inscription</a>
            </li>
            {% endif %}


        </ul>
    </nav>
    {% block page_header %}

    {% endblock page_header %}

    <div class="page-content row">
        {% block sidbar %}{% endblock %}

        <div class="container col-lg-8">
            <div class="docs-overview py-5">
                <div class="row justify-content-center">


                    {% block body %}{% endblock %}


                </div>
            </div>
        </div>

    </div>



    <footer class="footer">

        <div class="footer-bottom text-center py-5">

            <ul class="social-list list-unstyled pb-4 mb-0">
                <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
            </ul>
            <!--//social-list-->

            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Produced By <i class="fas fa-heart" style="color: #6afb8e;"></i><a> SNAIKI Ayoub</a></small>


        </div>

    </footer>

    <!-- Javascript -->
    <script defer src="{{ asset('assets/js/all.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block javascripts %}



    {% endblock javascripts %}
    <script>
        document.getElementById('navbar-nav');
    </script>
</body>

</html>