<!DOCTYPE html>
<html>

<head>

    <title>{% block title %}{% endblock %}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootstrap Documentation Template For Software Developers">
    <meta name="author" content="Ayoub">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="{{ asset('assets/fontawesome/js/all.min.js') }}"></script>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block stylesheets %}

    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark p-2 mx-auto">

        <div class="site-logo">
            <a class="navbar-brand" href="{{ path('home') }}">
                <span class="logo-text mr-1">
                    <img class="logo-icon " src="{{ asset('assets/images/logo.png') }}" alt="logo">
                    &nbsp;Annonces <span class="text-alt">Gratuites</span>
                </span></a>
        </div>
        <div>
            <a href="{{ path('annonces.create') }}" class="btn btn-light d-none d-lg-flex mx-1">Publication &nbsp;&nbsp; <i
                    class="fas fa-bullhorn fa-lg "></i></a>
        </div>

        <ul class="navbar-nav ml-auto d-flex justify-content-end pr-2" id="navbar-nav">

            {% if app.user.username is defined and app.user.username in app.request.uri %}
            <li class="nav-item">
                <a href="{{ path('home') }}" class="btn btn-light d-none d-lg-flex mx-1">
                    Toutes les annonces</a>
            </li>
            {% endif %}

            {% if app.user %}

            <li class="dropdown">
                <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.nom }}&nbsp;{{ app.user.prenom }}&nbsp; <i class="fas fa-user-tie fa-lg"></i>
                </button>
                <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">
                        <a href="{{ path('logout') }}" class="btn btn-sm d-none d-lg-flex mx-1 rounded">Déconnexion</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="" class="btn btn-sm d-none d-lg-flex mx-1 rounded">Parametres</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="{{ path('mes.annonces',{'user': app.user.username}) }}" class="btn  btn-sm d-none d-lg-flex mx-1 rounded">Mes annonces</a>
                    </li>

                    <div class="dropdown-divider"></div>

                    <li class="dropdown-item">
                        <a href="{{ path('logout') }}" class="btn btn-sm d-none d-lg-flex mx-1 rounded">Contactez-nous</a>
                    </li>

                </ul>
            </li>

            {% else %}
            <li>
                <a href="{{ path('login') }}" class="btn btn-light d-none d-flex justify-content-end mx-1">Connexion</a>
            </li>
            <li>
                <a href="{{ path('register') }}" class="btn btn-light d-none d-lg-flex mx-1">Inscription</a>
            </li>
            {% endif %}


        </ul>
    </nav>
    {% block page_header %}

    {% endblock page_header %}

    <div class="page-content row">
        {% block sidbar %}{% endblock %}

        <div class="container col-lg-8">
            <div class="docs-overview py-5">
                <div class="row justify-content-center">


                    {% block body %}{% endblock %}


                </div>
            </div>
        </div>

    </div>

    <section class="cta-section text-center py-5 theme-bg-dark position-relative">
        <div class="theme-bg-shapes-right"></div>
        <div class="theme-bg-shapes-left"></div>
        <div class="container">
            <h3 class="mb-2 text-white mb-3">Launch Your Software Project Like A Pro</h3>
            <div class="section-intro text-white mb-3 single-col-max mx-auto">Want to launch your software project and
                start getting traction from your target users? Check out our premium <a class="text-white"
                    href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/">Bootstrap
                    4 startup template CoderPro</a>! It has everything you need to promote your product.</div>
            <div class="pt-3 text-center">
                <a class="btn btn-light"
                    href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/">Get
                    CoderPro<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
            </div>
        </div>

    </section>
    <!--//cta-section-->

    <footer class="footer">

        <div class="footer-bottom text-center py-5">

            <ul class="social-list list-unstyled pb-4 mb-0">
                <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
            </ul>
            <!--//social-list-->

            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a class="theme-link"
                    href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for
                developers</small>


        </div>

    </footer>

    <!-- Javascript -->

    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.esm.js') }}"></script>
    {% block javascripts %}



    {% endblock javascripts %}
    <script>
        document.getElementById('navbar-nav');
    </script>
</body>

</html>